{% load i18n static %}<!DOCTYPE html>

{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?6ade413568d87dd97385130c8e471b65";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta content="{% block meta_keywords %}{% endblock %}" name="keywords" />
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
    <meta content="{% block meta_description %}{% endblock %}" name="description" />
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <link rel="SHORTCUT ICON" href="/static/img/favicon.ico" type="image/x-icon">
  </head>

  {% load i18n %}
  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
    <!-- Container -->
    {% block body_content %}
      <div id="container">
        {% if not is_popup %}
        <!-- Header -->
        <div id="header">
          <div id="branding">
            {% block branding %}{% endblock %}
          </div>
          {% block usertools %}
            {% if has_permission %}
              <div id="user-tools">
                {% block welcome-msg %}
                  {% trans 'Welcome,' %}
                  <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% endblock %}
                {% block userlinks %}
                  <a href="/admin/">{% trans 'View Admin' %}</a> /
                  {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                      <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                  {% endif %}
                  {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                  {% endif %}
                  <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                {% endblock %}
              </div>
            {% endif %}
          {% endblock %}
          {% block nav-global %}{% endblock %}
        </div>
        <!-- END Header -->
        {% block breadcrumbs %}
          <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
          </div>
        {% endblock %}
        {% endif %}

        {% block messages %}
          {% if messages %}
            <ul class="messagelist">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endblock messages %}

        <!-- Content -->
        <div id="content" style="width: 1000px;" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block list_add %}{% if add_link %}<h2><a href="{{ add_link }}">Add {{ model_name }}</a></h2>{% endif %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear" />
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
      <!-- END Container -->
    {% endblock body_content %}

  </body>
</html>
