{% extends "base.html" %}

{% block title %}考点页面{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block body_content %}
    <div class="exam-category__panel">
        <div class="header-navbar">
        <div class="nav-exam">
           <span>
              <img src="img/test.jpg" alt="360考试">   
           </span>    
        </div>
        <div class="nav-focus">
            <span>
               <img src="img/focus.jpg" alt="考点"> 
            </span>
        </div>
    </div>
    <div class="exam-category__wrapper">
        <div class="exam-category__tile">
            <div class="title">
                选择考试类别：
            </div>
            <div class="category_list">
                <a class="active" href="">临床执业</a> 
                <a href="#">临床助理</a> 
                <a href="#">中医助理</a> 
                <a href="#">中医执业</a> 
            </div>
        </div>
        <div class="exam-focus__tile">
            <div class="title">
                选择考点：
            </div>
            <div class="focus_list">
                <a class="active" href="">骨折</a>
                <a href="#">股骨颈头</a>
                <a href="">运动执业</a>
                <a href="">股骨头</a>
                <a href="">骨折</a>
                <a href="">股骨颈头</a>
                <a href="">运动执业</a>
                <a href="">股骨头</a>
                <a href="">骨折</a>
                <a href="">股骨颈头</a>
                <a href="">运动执业</a>
                <a href="">股骨头</a>
                <a href="">骨折</a>
                <a href="">股骨颈头</a>
                <a href="">运动执业</a>
                <a href="">股骨头</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
