{% extends "base.html" %}

{% block title %}最新{{ meta_title|safe }}考试知识点和真题大全{% endblock %}
{% block meta_keywords %}{{ category|safe }}, {{ category|safe }}考试, {{ category|safe }}真题, {{ category|safe }}考试知识点{% endblock %}
{% block meta_description %}最新{{ meta_title|safe }}考试知识点和真题，上360考试网。{% endblock %}

{% block extrastyle %}
  <meta charset="UTF-8">
  <title>rem test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/swiper.min.css" rel="stylesheet">
  <link href="/static/css/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/css/normal.css" rel="stylesheet">
{% endblock %}

{% block extrahead %}
  <script src="/static/js/rootsize.js"></script>
  <script src="/static/js/swiper.min.js"></script>
  <script src="/static/js/owl.carousel.js"></script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body_content %}
  <div class="header-navbar">
    <div class="nav-exam">
      <span><a href="/"><img src="/static/img/test.jpg" alt="360考试"></a></span>
    </div>
    <div class="nav-focus">
      <span><a href="/examination/1/"><img src="/static/img/focus.jpg" alt="考点"></a></span>
    </div>
  </div>
  <!-- carousel 轮播图 -->
  <div class="owl-carousel owl-theme">
    {% for item in banner_info %}
      <div class="item">
        <a href="{{ item.link|safe }}">
          <!-- 图片要是 750:300 比例的 -->
{#          <img width="750" height="300" src="{{ item.banner_file.url|safe }}" alt="">#}
            <div class="carousel-img" style="background-image: url(http://www.360ks.net{{ item.banner_file.url|safe }});"></div>

          <h4 class="h4">{{ item.title|safe }}</h4>
        </a>
      </div>
    {% endfor %}
  </div>
  <!-- end carousel -->
  <!--  navbar滚动导航 -->
  <div class="topmenu">
      <div class="swiper-container">
        <div class="swiper-wrapper swiper-wrapper-theme">
          {% for menu in menu_info %}
            <a href="/home/{{ menu.id }}/" class="swiper-slide {% ifequal active_id menu.id %}active{% endifequal %}" data-ss="{{ active_id}} {{ menu.id }}">
              {{ menu.title|safe }}
            </a>
          {% endfor %}
        </div>
      </div>
  </div>
  <!-- end navbar 滚动导航 -->
  <div class="">
    <div class="question-thum__tile">
      {% for question in questions %}
        <div class="summary">
          <a class="ques_title" href="/question/{{ question.id }}/">{{ question.title|safe }}</a>
          <div class="link-overview"><span>{{ question.look_num|safe }} 人已学</span></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <input type="hidden" name="page_number" value="{{ page_number }}" />
  <input type="hidden" name="page_range" value="{{ page_range }}" />
  <script>
    $(function() {
      var swiper = new Swiper('.swiper-container', {
          spaceBetween: 20,
          slidesPerView: 'auto',
          freeMode: true
      });
    });
  </script>
  <script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      items: 1,
      loop: true,
      //margin: 10,
      autoplay: true,
      autoplayTimeout: 4000,
      // singleItem:true,
       autoplayHoverPause: true
    });

    $(window).scroll(function(){      
      var question_height = $('.summary').first().height();
      if ( $(window).scrollTop() >= $(document).height() - $(window).height() - question_height) {
        fetch_more_questions();
      }
    });

    function fetch_more_questions(){
      var page_number = parseInt($('input[name=page_number]').val(), 10) + 1;
      var page_range = $('input[name=page_range]').val();
      if (page_number > page_range){
        return
      }
      var request_params = {'page': page_number, 'id': '{{ active_id }}'};
      $('input[name=page_number]').val(page_number);
      more_questions = $.ajax({
        url: '/home/list/',
        type: 'GET',
        data: request_params,
        success: function(result){
          var questions_info = result['questions'];
          for(i=0; i<questions_info.length; i++) {
            $('.question-thum__tile').append('<div class="summary">\
                                <a class="ques_title" href="/question/[link]/">[title]</a>\
                                <div class="link-overview"><span>[number]人已学</span></div>\
                                </div>'.replace('[link]', questions_info[i].id).replace('[title]', questions_info[i].title).replace('[number]', questions_info[i].look_num));
          }
        },
      })
    }
    function init_page() {
        var active_a = $('.swiper-slide').filter('.active')[0];
        var phone_width = document.body.offsetWidth;
        var a_left = active_a.offsetLeft;
        var l_offet = 0
        if((a_left + active_a.offsetWidth)/ phone_width != a_left/phone_width){
            l_offet = active_a.offsetWidth
        }

        if((a_left + active_a.offsetWidth) >= parseInt(a_left/phone_width) * phone_width && parseInt((a_left + active_a.offsetWidth)/phone_width) != 0){
            var cur_position = a_left - l_offet;
            $('.swiper-wrapper-theme').attr('style','transform: translate3d(-'+ cur_position +'px, 0px, 0px)');
        }else {

        }
    }
    $(function test() {
        init_page();
    })

    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?6ade413568d87dd97385130c8e471b65";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();


  </script>
{% endblock %}
