{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{#{% block breadcrumbs %}{% endblock %}#}

{% block content %}
<div id="content-main">
    <h2><a href="/dashboard/article_list/">微博文章列表</a></h2>
    <h2><a href="/dashboard/category_list/">考试类别列表</a></h2>
    <h2><a href="/dashboard/examination_point_category_list/">考点类别列表</a></h2>
    <h2><a href="/dashboard/questions_list/">考题列表</a></h2>
    <h2><a href="/dashboard/banner_list/">banner图列表</a></h2>
    <h2><a href="{% url 'batch-create-questions' %}">批量创建问题</a></h2>
</div>
{% endblock %}


