{% extends "base.html" %}

{% block title %}最新【考试类别】考试知识点和真题大全{% endblock %}
{% block meta_keywords %}考试类别，考试类别+考试；考试类别+真题；临床执业医师考试知识点{% endblock %}
{% block meta_description %}最新【考试类别】考试知识点和真题，上360考试网。{% endblock %}

{% block extrastyle %}
  <meta charset="UTF-8">
  <title>rem test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/swiper.min.css" rel="stylesheet">
  <link href="/static/css/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/css/normal.css" rel="stylesheet">
{% endblock %}

{% block extrahead %}
  <script src="/static/js/rootsize.js"></script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body_content %}
  <div class="header-navbar">
    <div class="nav-exam">
      <span><a href="/"><img src="/static/img/test.jpg" alt="360考试"></a></span>
    </div>
    <div class="nav-focus">
      <span><a href="/examination/1/"><img src="/static/img/focus.jpg" alt="考点"></a></span>
    </div>
  </div>
  <div class="">
    <div class="exam-focus__tile exam-focus__tile--list">
      <div class="focus_list">
        <a>{{ examination_point.title }}</a>
      </div>
    </div>
    <div class="question-thum__tile">
      {% for question in questions %}
        <div class="summary">
          <a class="ques_title" href="/question/{{ question.id }}/">{{ forloop.counter }}. {{ question.title|safe }}</a>
          <div class="link-overview"><span>{{ question.look_num|safe }}</span></div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
