{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{#{% block breadcrumbs %}{% endblock %}#}

{% block content %}
<div id="content-main">

{% if app_list %}
  <table>
     <tr class="model-{{ model.object_name|lower }}">
        <th scope="row" width="5%"></th>
         <th scope="row"width="45%" >问题标题：</th>
         <th scope="row" width="20%">category：</th>
         <th scope="row" width="20%">创建时间：</th>
         <th scope="row" width="10%">是否发布：</th>
      </tr>
    {% for app in app_list %}
      <tr class="model-{{ model.object_name|lower }}">
          <td><input type="checkbox" name='question' value="{{ app.id }}"></td>
          <td><a href="{{ app.get_admin_url }}" class="addlink">{{ app.title }}</a></td>
          <td>{{ app.category.title }}</td>
          <td>{{ app.created_datetime }}</td>
          <td>{{ app.is_send }}</td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="save" onclick="save_question()">
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
<script type="text/javascript">
  (function() {
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          }
      });
  })();

  function save_question(){
    var values = [];
    $("input[name='question']:checked").each(function(){
      values.push($(this).val())
    })
    values = values.join(',');
    $.ajax({
        url: '/dashboard/save_question/',
        type: 'POST',
        data: {'values': values},
        success: function(result){
          if (result['success']){
            window.location.reload();
          }
        }
    })
  }
</script>
{% endblock %}

