{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{#{% block breadcrumbs %}{% endblock %}#}

{% block content %}
<div id="content-main">

{% if app_list %}
  <table>
     <tr class="model-{{ model.object_name|lower }}">
         <th scope="row">问题标题：</th>
         <th scope="row">category：</th>
         <th scope="row">创建时间：</th>
         <th scope="row">是否发布：</th>
      </tr>
    {% for app in app_list %}
      <tr class="model-{{ model.object_name|lower }}">
          <td><a href="{{ app.get_admin_url }}" class="addlink">{{ app.title }}</a></td>
          <td>{{ app.category.title }}</td>
          <td>{{ app.created_datetime }}</td>
          <td>{{ app.is_send }}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

